<header class="header-container">
    <div class="header-line">
        <h1 class="header-name">
            <a href="/" class="clear">{{ name.formal_name }}</a>
        </h1>
        <span class="header-caret">|</span>
        <h1 class="header-title">CS Student</h1>
    </div>
    <nav class="nav-container" role="navigation" aria-label="main navigation">
        <a class="nav-item nav-item-active" href="/">Home</a>
        <a class="nav-item" href="/projects">Projects</a>
        <a class="nav-item" href="/contact">Contact</a>
    </nav>
</header>
