<header class="header-container">
    <div class="header-line">
        <h1 class="header-name">
            <a href="/" class="clear">{{ name.formal_name }}</a>
        </h1>
        <span class="header-caret">|</span>
        <h1 class="header-title">Digital Tinkerer</h1>
    </div>
    <nav class="nav-container" role="navigation" aria-label="main navigation">
        <a class="nav-item {% if permalink == "/" %}nav-item-active{% endif %}" href="/">Home</a>
        <a class="nav-item {% if permalink == "/projects/" %}nav-item-active{% endif %}" href="/projects">Projects</a>
        <a class="nav-item {% if permalink == "/contact/" %}nav-item-active{% endif %}" href="/contact">Contact</a>
    </nav>
</header>
