{%if data.preview_img %}
<div class="section-poster-project">
    <div class="poster-project-image-column">
        <a class="clear-link" href="{{url}}">
            {% assign poster_title = "Project poster for " | append: data.title %}
            {% specImage data.permalink data.preview_img poster_title %}
        </a>
    </div>
    <div class="poster-project-text-column">
        <div class="poster-project-header-block">
            <a class="clear-link" href="{{url}}">
                <h3 class="tagged-header">
                    {{ data.title }}
                </h3>
            </a>
            <span class="tag-date">{{ data.start_date }} - {{ data.end_date }}</span>
        </div>
        <div class="poster-project-text-content">
            {{ templateContent | markdownPreview }}
            <a class="readmore" href="{{url}}">Read More</a>
        </div>
    </div>
</div>
{% else %}
<div class="section-generic">
    <div class="poster-project-header-block">
        <a class="clear-link" href="{{url}}">
            <h3 class="tagged-header">
                {{ data.title }}
            </h3>
        </a>
        <span class="tag-date">{{ data.start_date }} - {{ data.end_date }}</span>
    </div>
    <div class="poster-project-text-content">
        {{ templateContent | markdownPreview }}
        <a class="readmore" href="{{url}}">Read More</a>
    </div>
</div>
{% endif %}
