<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if title %}
        {{ title }} - {{ name.site_title }}
    {% else %}
        {{ name.site_title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="/assets/styles/main.css"/>
  <link href="/blog/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Atom/RSS Feed" />
</head>
<body>
    <div class="page">
        {% include 'navbar.html' %}

        <main>
            {{ content }}
        </main>

        {% include 'footer.html' %}
    </div>
</body>
</html>
