---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import ArticlePreview from "@components/ArticlePreview.astro";
import { displayDateYear } from "@data/date";

export const prerender = false;

const { year } = Astro.params;

const parsedYear = year ? parseInt(year, 10) : NaN;

if (isNaN(parsedYear)) {
    return new Response(null, { status: 404 });
}

const fakeDate = new Date(parsedYear, 1, 1);

const allPosts = await getCollection("blog");
const posts = allPosts
    .filter((post) => post.data.date.getUTCFullYear() === parsedYear)
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const title = `Blog Posts from ${displayDateYear(fakeDate)}`;
---

<BaseLayout title={title}>
    <h2 class="section-title-break">{title}</h2>
    <div>
        {
            posts.length === 0 ? 
            (
              <div class="section-generic">
                  <p>No posts in this year.</p>
              </div>
            ) 
            :
            (posts.map((post) => <ArticlePreview post={post}/>))
        }
    </div>
</BaseLayout>
