---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import ProjectsIntro from "@copytext/ProjectsIntro.mdx";
import ProjectPreview from "@components/ProjectPreview.astro";

const allProjects = await getCollection("projects");
const sortedProjects = allProjects
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout title="Projects">
    <h2 class="section-title-break">Projects</h2>
    <div class="section-generic">
        <ProjectsIntro></ProjectsIntro>
    </div>
    <div>
        {sortedProjects.map((project) => <ProjectPreview project={project}/>)}
    </div>
</BaseLayout>
